/*This is your css file to either write your own css rules/classes or in later lectures override default settings from other frameworks (eg Twtter Bootstrap)*/

body{
margin: 0;
font-family: 'Arial';
}

div{
border: 1px solid #000;
}

h1, h2, h3, h4, h5, h6{
border: 1px solid #FAF207;
}

p, a, span{
border: 1px solid #FAF207;
}


html, body{
padding: 0px;
margin: 0px;
border-collapse: collapse;
}

div.logo_container img{
border: 0px;
}


div.container{
width: 90%;
margin: 0 auto;
display: block;
position: relative;
}

div.top_background_color{
margin-top: 0px;
padding: 20px;
background-color: #000;
margin-bottom: 20px;
}

div.logo_container{
background-color: #000;
margin-bottom: 2px;
width: 33.33333%;
margin: 0 auto;
}


h1.logo_title{
text-align: right;
font-family: 'Arial';
color: #fff;
font-size: 3em;
border: none !important;
padding: 0px 8px 0px 0px;
margin: 0;
}

div.logo_container img{
width: 100%;
height: 100%;
margin: 0 auto;
}

div.logo_container a{
border: none !important;
}

div.navigation{
position: relative;
background-color: green;
}

ul.top{
list-style-type: none;
margin: 0;
padding: 0;
background-color: green;
}

ul.top li a{
display: inline;
float: left;
margin: 0 20px;
padding: 10px;
background-color: green;
}


ul.top a{
background-color: green;
color: #fff;
padding: 20px;
margin-right: 10px;
text-decoration: none;
}

ul.top a:hover{
background-color: #001;
}

div.body{
padding: 20px;
background-color: #DDE9EB;
text-align: justify;
width: 60%;
float: left;
display: inline;
margin-top: 20px;
margin-bottom: 20px;
}

div.right{
padding: 20px;
margin-top: 20px;
background-color: #DDE9EB;
text-align: justify;
width: 30%;
float:right;
display: inline;
margin-bottom: 20px;
text-align: justify;
margin-bottom: 20px;
}

div .footer{
margin-top: 0px;
background-color: green;
padding-left: 1px;
padding-right: 1px;
}


h3.heading3{
color: #fff;
padding: 20px;
}


div .footer1, .footer2, .footer3{
float: left;
left: 0;
margin: 0px 0px 20px 11px;
display: inline-block;
width: 30%;
padding: 10px;
background: #BABFBF;
border: 1px solid #424545;
}

/*for all devices under 950px*/
@media screen and (max-width: 950px){.container{
width: 100% !important;
}}

/*remove border from divs as upsets % measurements*/
@media screen and (max-width: 950px){div{
border: none;
}}

/*main content*/
@media screen and (max-width: 950px){.body{
width: 90% !important;
}}

/*right side bar now fills the screen */
@media screen and (max-width: 950px){.right{
width: 90% !important;
}}

@media screen and (max-width: 950px){.footer1, .footer2, .footer3{
width: 90% !important;
}}

@media screen and (max-width: 950px){ul.top li{
display: block !important;
width: 100% !important;
}}

@media screen and (max-width: 950px){ul.top a{
border: none !important;
margin: 0px !important;
padding: 10px !important;
}}
